html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* my code starts here */
* {
   margin: 0; 
   padding: 0;
}
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    
    }
    .container {
        display: flex;
    }
    .column {
        flex: 1;
        padding: 20px;
    }
    .info {

        background-color: white;
    }
    .background-picture {
        flex: 1;
        background-image: url(img/mypicture_1.jpg);
        background-size: cover;
        background-position: center;
        color: white; /* Text color for better visibility */
        width: 300px;
        height: 610px;
    }

   .wrapper {
    padding:100px 0px 0px 100px ;

 }

    h2 {
     font-weight: 700px;
     font-size: 30px;
     padding-bottom: 20px;
     
    }

    h3 {
 font-family:'catamaran';
 font-size: 50px;
 font-weight: 700;
 }
    
 h3 span {
     font-family:'catamaran';
     color: white;
     text-shadow: 
        -1px -1px 0 #ffcc00,  
        1px -1px 0 #ffcc00,
        -1px 1px 0 #ffcc00,
        1px 1px 0 #ffcc00; 

    }

    .role-index {
font-weight: 600;
padding-top: 20px;
width: fit-content;
height: fit-content;
background-color: #ffcc00;
padding: 8px;
border-radius: 8px;
    }

    .text-index {
        padding-top: 25px;
        line-height: 2;
        padding-bottom: 25px ;
    }

    .contact-index {
        font-weight: 600;
        padding-top:80px;
        width: fit-content;
        height: fit-content;
        background-color: #ffcc00;
        padding: 8px;
        border-radius: 20px;    
        color: black;
        
    }

    .side-bar {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        background-color: #ffcc00;
        padding: 8px;
        border-radius: 20px;
        margin: 30% 0px 50% auto;
    
    }

    .icon-indexblack {
        padding-bottom: 25px;
    }

.contact-index:hover {
        color: white;
    }
    
    a {
    text-decoration: none;
}

.container2 {
    display: flex;
    height: 662px;
}
.left-column {
display: flex;
flex-direction: column;
align-items: flex-start; 
width: 15%;
}

.column1 {
   background-color:gray;
   height: 220px;
   width: 300px;
 }

.column1 img {
    width: 100%;
    height: 100%;
}
.column2 {
    background-color: #ffcc00;
    height: 450px;
    width: 300px;
}

.right-column {
    padding-left: 40px;
    width:80%;
    align-items: center;
}
.home-index {
    font-family: 'catamaran';
    font-weight: 800;
     font-size: 20px;
     padding: 20% 40% 30px;
     color: #000;
}
.aboutme-index {
    font-family: 'catamaran';
    font-weight: 800;
     font-size: 20px;
     padding: 0 34% 40px;
     color: #000;
}
.resume-index {
    font-family: 'catamaran';
    font-weight: 800;
     font-size: 20px;
     padding: 0 36% 40px;
     color: #000;
    
}

.portfolio-index {
    font-family: 'catamaran';
    font-weight: 800;
     font-size: 20px;
     padding: 0 30% 40px;
     color: #000;
}

.testimonials-index {
    font-family: 'catamaran';
    font-weight: 800;
     font-size: 20px;
     padding: 0 27% 40px;
     color: #000;
}
.contact-info {
    font-family: 'catamaran';
    font-weight: 800;
     font-size: 20px;
     padding: 0 35% 0px;
     color: #000;

}

.right-column {
    align-items: center;

    
}
.header {
    margin: 40px 80px 0px ;
}

h1 {
    display: block;
    font-family: 'catamaran';
    text-align: center;
    padding: 25px 0px  ;
    font-size: 80px;
    border: 1px solid black;
    margin-right: 50px;
    margin-left: 50px;
    
}

article {
    font-size: 30px; 
    font-family: 'catamaran';
    padding: 50px 0px 20px 50px;
 }

.side-bar2 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height:fit-content;
    background-color: #ffcc00;
    padding: 8px;
    border-radius: 20px;
    margin: 10% 0px 500px -40px ;
    

}

article span {
    font-family: 'catamaran';
    font-weight: 800;
    color: black;
    text-shadow: none;
}
section {
  padding: 0px 20px 10px 50px;
  line-height: 20px;
  text-align: left;
}

.wrapper2{
    display:flex;
    width:80%;
    padding: 0px 130px ;
    
    
}


.blackbox {
    padding: 10px 20px 0px 10px;
    width: 50%;
    height:300px;
    background-color: #000;
}

.left-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 10px 0px;
    justify-content: space-between;
    width: 400px; 
    height: 275px;
    padding: 10px;
    background-color: #000;
}
.item1{
    width: calc(50% - 10px);
    height: calc(50% - 20px);
    margin-bottom: 20px;
    margin: auto 0%;
}
.item1 p{
padding-top: 2px;
}
.item1 h1{
    padding-top: 30px;
}
.item2{
    width: calc(50% - 10px);
    height: calc(50% - 20px);
    margin-bottom: 20px;
    margin: auto 0%;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-radius: 5px;
    padding-left: 19px;
    padding-top: 15px;
    border-radius: 5px;
}
.item2 p{
    padding-top: 0px;
    }
.item3{
    width: calc(50% - 10px);
    height: calc(50% - 20px);
    margin: auto 0%;  
    border-right: 1px solid gray;  
    border-top: 1px solid gray;  
    border-radius: 5px;
    padding-top: 30px;

}
.item3 p{
    padding-top: 7px;
}
.item4{
    width: calc(50% - 10px);
    height: calc(50% - 70px);
    margin: auto 0%; 
}


.item4 p{
    padding-top: 0px;

}

.left-container  p{
    font-family: "catamaran";
    color: white;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}
.left-container  h1{
    font-size: 40px;
    font-weight: 700;
    font-family: "catamaran";
    text-align: center;
    color: #ffa600;
}

.whatido{
    display: flex;
    flex-flow: column;
    width: 50%;
    height:300px;
    
    
}
.whatidoheader{
    margin-left: 40px;
    font-family: "catamaran";
    font-size: 24px;
    font-weight: 700;
}
.imagebox{
    display: flex;
}
.images{
    margin: 18px;
    display: flex;
    flex-flow: column;
    gap: 25px;
}
.camera{
    width: 70px;
    height: 70px;
}
.schedules{
    width: 70px;
    height: 70px;
}
.pennib{
    width: 70px;
    height: 70px;
}
.imagetitles{
    display: flex;
    flex-flow: row wrap;
    font-family: "catamaran";
    line-height: 13px;
    font-size: 15px;
    text-align: justify;
}

.titles{
padding-top: 12px;
font-weight: bold;
}

.third {
    float: right;
    width:3%;
    margin-top:200px;
    margin-left: ;
}